[Desktop Entry]
Name=Slothcoin
Comment=Experimental Slothcoin wallet
Exec=Slothcoin-Qt
Icon=slothcoin
Terminal=false
Type=Application
Categories=Network;Finance;
